<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  
    <div class="about content">
      <h2>About Us</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro
        nesciunt explicabo repellendus soluta omnis ratione aspernatur dolores
        accusamus? Molestias, perspiciatis qui. Aspernatur iusto distinctio
        repellat, tempora incidunt tenetur iure.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro
        nesciunt explicabo repellendus soluta omnis ratione aspernatur dolores
        accusamus? Molestias, perspiciatis qui. Aspernatur iusto distinctio
        repellat, tempora incidunt tenetur iure.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro
        nesciunt explicabo repellendus soluta omnis ratione aspernatur dolores
        accusamus? Molestias, perspiciatis qui. Aspernatur iusto distinctio
        repellat, tempora incidunt tenetur iure.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
